body {
  margin: 0;
  font-family: Lato;
  font-weight: normal;
}

::placeholder {
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10px;
  padding-left: 11px;
   @media (min-width: $breakpoint-small) {
    font-size: 16px;
    line-height: 19px;
   }
}

.container {
  padding: 0 15px;
   @media (min-width: $breakpoint-small) {
     padding: 0 28px;
   }
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

button  {
  background:$black;
  color: $white;
  height: 23px;
  padding: 0 17px;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  appearance: none;
  margin-top: 20px;
  @media (min-width: $breakpoint-small) {
    height: 50px;
    padding: 0 25px;
    max-width: 169px;
    font-size: 20px;
    line-height: 24px;
  }
}