
@font-face {
  font-family: 'Pacifico';
  src: url("/assets/fonts/pacifico.woff2") format('woff2'),
       url('/assets/fonts/pacifico.woff') format('woff'),
       url("/assets/fonts/pacifico.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
