.Hero {
  position: relative;
  margin-top: 16px;
  @media (min-width: $breakpoint-small) {
    margin-top: 40px;
  }
}

.HeroInfo{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  text-align: left;
  padding: 0 20px;
  @media (min-width: $breakpoint-small) {
    padding: 0 78px;
  }
}

.HeroTitle {
  color: $white;
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  margin: 0;
  @media (min-width: $breakpoint-small) {
    font-size: 50px;
    line-height: 93px;
  }
}

.HeroTagline {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0;
  @media (min-width: $breakpoint-small) {
    font-size: 40px;
    line-height: 48px;
  }
}

.HeroButton {
  background:$green;
}