@font-face {
  font-family: 'Pacifico';
  src: url("/assets/fonts/pacifico.woff2") format("woff2"), url("/assets/fonts/pacifico.woff") format("woff"), url("/assets/fonts/pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: Lato;
  font-weight: normal; }

::placeholder {
  font-size: 8px;
  letter-spacing: 0;
  line-height: 10px;
  padding-left: 11px; }
  @media (min-width: 600px) {
    ::placeholder {
      font-size: 16px;
      line-height: 19px; } }

.container {
  padding: 0 15px; }
  @media (min-width: 600px) {
    .container {
      padding: 0 28px; } }

img {
  width: 100%; }

ul {
  list-style-type: none; }

.Topbar {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px; }
  @media (min-width: 600px) {
    .Topbar {
      height: 59px; } }

.Text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  margin: 0; }
  @media (min-width: 600px) {
    .Text {
      font-size: 26px;
      line-height: 32px; } }

.Header {
  height: 53px;
  background-color: #10504F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .Header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%; }
    @media (min-width: 600px) {
      .Header > .container {
        justify-content: center;
        width: auto; } }
  @media (min-width: 600px) {
    .Header {
      height: 94px; } }

.Logo {
  height: 45px;
  width: 54px;
  order: 1; }
  @media (min-width: 600px) {
    .Logo {
      height: 77px;
      width: 93px;
      order: 0; } }

.Icon-Cart {
  display: block;
  order: 2; }
  @media (min-width: 600px) {
    .Icon-Cart {
      display: none; } }

.NavbarList {
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  display: none; }
  @media (min-width: 600px) {
    .NavbarList {
      display: flex; } }

.NavbarList__item {
  padding: 0 34px; }
  .NavbarList__item > a {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    text-decoration: none; }

.ToggleNav {
  display: block;
  order: 0; }
  @media (min-width: 600px) {
    .ToggleNav {
      display: none; } }

.Bar {
  background: #FFFFFF;
  display: block;
  position: relative;
  height: 4px;
  width: 31px;
  border-radius: 2.5px;
  margin: 5px auto; }

.HeroCarousel > .carousel .slide {
  max-height: 638px; }

.HeroCarousel > .carousel .control-dots {
  margin-bottom: 12px; }
  @media (min-width: 600px) {
    .HeroCarousel > .carousel .control-dots {
      margin-bottom: 34px; } }
  .HeroCarousel > .carousel .control-dots > .dot {
    border-radius: 0;
    opacity: 1;
    width: 12px;
    height: 12px;
    box-shadow: none;
    background-color: rgba(216, 216, 216, 0.7);
    margin: 0 5px; }
    .HeroCarousel > .carousel .control-dots > .dot.selected {
      background-color: #FFFFFF; }
    @media (min-width: 600px) {
      .HeroCarousel > .carousel .control-dots > .dot {
        width: 26px;
        height: 26px;
        margin: 0 10px; } }

.TextCardInfo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: left;
  padding: 0 20px; }
  @media (min-width: 600px) {
    .TextCardInfo {
      padding: 0 78px; } }

.TextCardTitle {
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  margin: 0; }
  @media (min-width: 600px) {
    .TextCardTitle {
      font-size: 50px;
      line-height: 93px; } }

.TextCardTagline {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0; }
  @media (min-width: 600px) {
    .TextCardTagline {
      font-size: 40px;
      line-height: 48px; } }

.TextCardButton {
  background: black;
  color: white;
  height: 23px;
  width: 78px;
  font-family: Lato;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  appearance: none;
  margin-top: 20px; }
  @media (min-width: 600px) {
    .TextCardButton {
      height: 50px;
      width: 169px;
      font-size: 20px;
      line-height: 24px; } }

.ThreeUpGrid {
  margin-top: 30px; }
  .ThreeUpGrid > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; }

.GridItem {
  margin-left: 15px;
  position: relative;
  flex: 0 1 47.5%; }
  @media (min-width: 600px) {
    .GridItem {
      flex: 0 1 29%;
      margin: 0 20px; } }
  .GridItem:first-child {
    margin-left: 0; }
  .GridItem:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    flex: 0 1 100%; }
    @media (min-width: 600px) {
      .GridItem:last-child {
        flex: 0 1 29%;
        margin-top: 0;
        margin-left: 20px; } }

.GridItem__title {
  background-color: #10504F;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 18.96px;
  line-height: 36px;
  letter-spacing: 0;
  width: 100%;
  margin: 0; }
  @media (min-width: 600px) {
    .GridItem__title {
      font-size: 50px;
      line-height: 93px; } }

.ProductGrid {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.ProductCarousel {
  padding: 0 20px; }
  @media (min-width: 600px) {
    .ProductCarousel {
      padding: 0 72px; } }
  .ProductCarousel > .carousel .slide {
    background: #FFFFFF; }
  .ProductCarousel > .carousel.carousel-slider .control-arrow {
    opacity: 1;
    padding: 0; }
    .ProductCarousel > .carousel.carousel-slider .control-arrow.control-next.control-arrow:before {
      background: url("../../../src/assets/img/arrow-right.png") no-repeat;
      height: 26px;
      width: 23px;
      border: none;
      margin: 0; }
    .ProductCarousel > .carousel.carousel-slider .control-arrow.control-prev.control-arrow:before {
      background: url("../../../src/assets/img/arrow-left.png") no-repeat;
      height: 26px;
      width: 23px;
      border: none;
      margin: 0; }

.ProductCarousel__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin-top: 25px; }
  @media (min-width: 600px) {
    .ProductCarousel__title {
      font-size: 35px;
      line-height: 65px;
      margin-top: 138px; } }

.ProductCard {
  padding: 0 10px; }

.ProductCard__info {
  margin-top: 25px; }

.ProductCard__title {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  margin: 0; }
  @media (min-width: 600px) {
    .ProductCard__title {
      font-size: 16px;
      line-height: 19px; } }

.ProductCard__description {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  margin: 0; }
  @media (min-width: 600px) {
    .ProductCard__description {
      font-size: 16px;
      line-height: 19px; } }

.ProductCard__price {
  color: #10504F;
  font-family: Pacifico;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  margin: 0; }
  @media (min-width: 600px) {
    .ProductCard__price {
      font-size: 22px;
      line-height: 41px; } }

.Hero {
  position: relative;
  margin-top: 16px; }
  @media (min-width: 600px) {
    .Hero {
      margin-top: 40px; } }

.HeroInfo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  text-align: left;
  padding: 0 20px; }
  @media (min-width: 600px) {
    .HeroInfo {
      padding: 0 78px; } }

.HeroTitle {
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  margin: 0; }
  @media (min-width: 600px) {
    .HeroTitle {
      font-size: 50px;
      line-height: 93px; } }

.HeroTagline {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0; }
  @media (min-width: 600px) {
    .HeroTagline {
      font-size: 40px;
      line-height: 48px; } }

.HeroButton {
  background: #10504F;
  color: white;
  height: 23px;
  width: 78px;
  font-family: Lato;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  appearance: none;
  margin-top: 20px; }
  @media (min-width: 600px) {
    .HeroButton {
      height: 50px;
      width: 169px;
      font-size: 20px;
      line-height: 24px; } }

.ImageGrid {
  position: relative; }

.ImageGrid__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin: 25px 0 0; }
  @media (min-width: 600px) {
    .ImageGrid__title {
      font-size: 35px;
      line-height: 65px;
      margin: 51px 0 21px; } }

.ImageGrid__images {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }
  @media (min-width: 600px) {
    .ImageGrid__images {
      flex-wrap: wrap;
      overflow: visible; } }

.ImageGrid__image {
  width: 31%;
  margin: 0 5px; }
  .ImageGrid__image:first-child {
    margin-left: 0; }
  .ImageGrid__image:last-child {
    margin-right: 0; }
  @media (min-width: 600px) {
    .ImageGrid__image {
      width: 17%;
      margin: 0 10px; } }

.Newsletter {
  margin-top: 30px;
  background-color: #10504F; }
  .Newsletter > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0; }
    @media (min-width: 600px) {
      .Newsletter > .container {
        flex-direction: row;
        padding: 0 154px 83px; } }

.Newsletter__icon {
  height: 17px;
  width: 17px;
  margin-top: 16px; }
  @media (min-width: 600px) {
    .Newsletter__icon {
      height: 36px;
      width: 36px;
      margin-top: 10px;
      margin-right: 20px; } }

.Newsletter__title {
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 600px) {
    .Newsletter__title {
      font-size: 35px;
      line-height: 65px;
      flex-direction: row;
      margin: 62px 0 33px; } }

.Newsletter__form {
  width: 100%;
  margin: 12px 0 25px;
  text-align: center; }
  @media (min-width: 600px) {
    .Newsletter__form {
      display: flex;
      justify-content: center;
      margin: 0; } }

.Newsletter__description {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 12px;
  text-align: center;
  margin: 0 0 15px;
  padding: 0 20px; }
  @media (min-width: 600px) {
    .Newsletter__description {
      font-size: 20px;
      text-align: left;
      line-height: 24px;
      margin: 0;
      padding-right: 60px;
      padding-left: 0; } }

.Newsletter__input {
  height: 32px;
  width: 73%;
  background-color: #FFFFFF;
  border: none;
  margin-right: 5px;
  padding: 0; }
  @media (min-width: 600px) {
    .Newsletter__input {
      height: 44px;
      width: 100%;
      max-width: 340px; } }

.Newsletter__submitBtn {
  box-sizing: border-box;
  height: 32px;
  width: 83px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center; }
  @media (min-width: 600px) {
    .Newsletter__submitBtn {
      height: 44px;
      width: 50%;
      max-width: 169px;
      border: 3.84px solid #FFFFFF;
      font-size: 20px;
      line-height: 37px; } }

.Footer {
  background: #000000; }

.Social {
  margin: 0; }

.Social__title {
  color: #FFFFFF;
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  margin: 0 0 10px; }
  @media (min-width: 600px) {
    .Social__title {
      font-size: 18px;
      line-height: 33px; } }

.Social__images {
  height: 36px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0; }

.Social__image {
  margin-right: 18px; }
