.ProductCarousel{
  & > .container {
     padding: 0 20px;
    @media (min-width: $breakpoint-small) {
      padding: 0 72px;
    }
  }
  
}

.ProductCarousel__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin-top: 25px;

  @media (min-width: $breakpoint-small) {
    font-size: 35px;
    line-height: 65px;
     margin-top: 138px;
  }
}

.slick-slider .slick-next,
 .slick-slider .slick-prev {
    width: 13px;
    height: 15px;
    z-index: 1;
    @media (min-width: $breakpoint-small) {
      width: 23px;
      height: 26px;
    }
    &::before {
      display: none;
    }
  }

.slick-slider .slick-next {
  right: 0;
}

.slick-slider .slick-prev {
  left: 0;
}