.ProductCarousel {
  & > .container {
     padding: 0 20px;
    @media (min-width: $breakpoint-small) {
      padding: 0 72px;
    }
  }
  
}

.ProductCarousel__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin-top: 25px;

  @media (min-width: $breakpoint-small) {
    font-size: 35px;
    line-height: 65px;
     margin-top: 52px;
  }
}

.ProductSlider {
  .ProductSliderArrow-right,
  .ProductSliderArrow-left {
      width: 13px;
      height: 15px;
      z-index: 1;
      @media (min-width: $breakpoint-small) {
        width: 23px;
        height: 26px;
      }
      &::before {
        display: none;
      }
    }

  .ProductSliderArrow-right {
    right: 0;
  }

  .ProductSliderArrow-left {
    left: 0;
  }
  .slick-dots {
      display: none !important;
    }
}