.ProductCarousel{
  padding: 0 20px;
  @media (min-width: $breakpoint-small) {
    padding: 0 72px;
  }
  & > .carousel .slide {
    background: $white;
  }

  & > .carousel.carousel-slider .control-arrow {
    opacity: 1;
    padding: 0;
    &.control-next.control-arrow:before {
      background: url('../../../src/assets/img/arrow-right.png') no-repeat;
      height: 26px;
      width: 23px;
      border: none;
      margin: 0;
    }
    &.control-prev.control-arrow:before {
      background: url('../../../src/assets/img/arrow-left.png') no-repeat;
      height: 26px;
      width: 23px;
      border: none;
      margin: 0;
    }
  }
}

.ProductCarousel__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center;
  margin-top: 25px;

  @media (min-width: $breakpoint-small) {
    font-size: 35px;
    line-height: 65px;
     margin-top: 138px;
  }
}