.Footer {
  background: $black;
  color: $white;
  & > .container {
    display: flex;
    flex-direction: column;
    padding: 25px 49px;
    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      padding: 25px 49px 42px;
    }
  }
}

.Footer__section-title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media (min-width: $breakpoint-small) {
    font-size: 18px;
    line-height: 33px
  }
}

.Footer__menu {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  @media (min-width: $breakpoint-small) {
    display: block !important;
    line-height: 30px;
  }
}

.Footer__section {
  @media (min-width: $breakpoint-small) {
    flex: 0 0 18.25%;
  }
  &.Footer__section-social {
    @media (min-width: $breakpoint-small) {
      flex: 0 0 63.25%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.Icon {
  color: $white;
  font-family: Pacifico;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 41px;
  text-align: center;
  cursor: pointer;
  @media (min-width: $breakpoint-small) {
    display: none;
  }
}