.ImageGrid {
  position: relative;
  & > .container {
    @media (min-width: $breakpoint-small) {
      padding: 0 60px;
    }
  }
}

.ImageGrid__title {
  font-family: Pacifico;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 37px;
  text-align: center; 
  margin: 25px 0 0;
  @media (min-width: $breakpoint-small) {
    font-size: 35px;
    line-height: 65px;
    margin: 51px 0 21px;

  }
}

.ImageGrid__images {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  @media (min-width: $breakpoint-small) {
    flex-wrap: wrap;
    overflow: visible;
  }
}

.ImageGrid__image {
  width: 31%;
  margin: 0 5px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @media (min-width: $breakpoint-small) {
    width: 18.76%;
    max-width: 248px;
    margin: 0 10px;
  }
}